<div class="service service-summary">
  {{ if .Params.icon }}
  <div class="service-image">
    <img height="80" width="80" src="{{ .Params.icon | relURL }}" alt="{{ .Title }}" />
  </div>
  {{ end }}
  <div class="service-content">
    <h2 class="service-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ .Content | truncate 260 "..." }}
  </div>
</div>
